.footer {
  background: var(--background2);
}

.component {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding: 2rem var(--content-margin);
}

.component .head {
  color: var(--white);
}

.component .head h2 {
  color: var(--white);
  font-weight: 500;
  font-size: var(--font-size-4);
}

.component h3,
.component a {
  color: var(--tertiary);
  font-size: var(--font-size-body);
  margin-bottom: 1rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.component a {
  white-space: nowrap;
}

.component a:hover,
.component a:focus-within {
  color: var(--white);
}

.component h3 {
  width: 300px;
  font-weight: 400;
}

.component > div {
  margin: 2rem 0;
  margin-right: 3rem;
}

.component .content {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.mark {
  padding: 3rem var(--content-margin);
}

.mark h3 {
  text-align: center;
}
.mark h3 a {
  color: var(--white);
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  .component h3 {
    width: 100%;
  }
}
